@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  display: none;
}

html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  font-weight: 400;
  background-color: #f2f2f2;
  margin: 0;
}

.site-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page-header {
  display: flex;
  padding: 0 70px;
}

.navigation {
  display: flex;
  width: 100%;
  padding-left: 168px;
  position: relative;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 339px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation-user-item {
  position: relative;
  box-sizing: border-box;
  min-width: 44px;
  min-height: 64px;
}

.navigation-user-item-spec {
  padding-top: 14px;
}

.navigation-user-item:nth-last-child(2) {
  margin-right: 20px;
}

.navigation-user-link {
  display: block;
  min-width: 44px;
  min-height: 64px;
}

.navigation-user {
  max-width: 312px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  content: "";
  position: absolute;
  left: 16px;
  right: 16px;
  height: 2px;
  bottom: 0;
  background-color: #756257;
}

.navigation-link-find {
  background-image: url(../images/icons/find.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-link-favourites {
  background-image: url(../images/icons/favorites.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.favourite-count {
  display: block;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  text-align: center;
  align-content: center;
  color: #ffffff;
  position: absolute;
  left: 20px;
  top: 11px;
  width: 20px;
  height: 20px;
  background-color: #7db54f;
  border-radius: 10px;
}

.navigation-link-btn {
  box-sizing: border-box;
  padding: 8px 24px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  min-width: 160px;
  min-height: 36px;
  background-color: #756157;
  color: #ffffff;
  border-radius: 4px;
  text-align: center;
}

.nav-link-logo {
  position: absolute;
  left: 0;
}

.page-main {
  flex-grow: 1;
}

.index-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #197ad4;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 485px;
}

.index-header-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reasons-intro {
  margin: 0;
  padding: 65px 274px;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.reasons-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.reasons-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.reasons-item {
  display: flex;
  flex-direction: row;
  min-height: 385px;
  width: 400px;
  list-style-type: none;
  background-color: rgba(131, 179, 211, 0.122);
}

.reasons-item-textblock {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 85px;
  height: 100%;
  flex-direction: column;
}

.reasons-item-nowide {
  display: flex;
  flex-direction: column;
}

.reasons-item.reasons-item-contrast {
  background-color: rgba(131, 179, 211, 0.2);
}

.reasons-item.reasons-item-wide {
  background-color: #82b3d3;
  color: #ffffff;
  width: 100%;
}

.reasons-item.reasons-item-wide-revers {
  flex-direction: row-reverse;
  background-color: #82b3d3;
  color: #ffffff;
  width: 100%;
}

.reasons-item.reasons-item-wide p {
  color: #ffffff;
}

.reasons-item.reasons-item-wide-revers p {
  color: #ffffff;
}

.reasons-item-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.reasons-item-text {
  color: #333333;
  text-align: center;
}

.reasons-item-img {
  display: block;
}

.service {
  text-align: center;
}

.service-intro {
  padding: 64px 347px;
}

.service-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.service-text {
  margin: 0;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  min-height: 385px;
  justify-content: center;
  align-items: stretch;
  padding: 0;
}

.service-list li:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.122);
}

.service-list li:nth-child(even) {
  background-color: #ffffff;
}

.service-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;
}

.service-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.service-item-text {
  padding: 0 85px;
  color: #333333;
  text-align: center;
}

.booking {
  padding: 96px 304px;
  text-align: center;
}

.booking-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.booking-text {
  margin: 0;
  margin-bottom: 54px;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
}

.subscribe {
  padding: 96px 258px 104px;
  background-color: #197ad4;
  text-align: center;
}

.subscribe.index {
  background-image: url("../images/subscribe_index.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-title.index {
  color: #ffffff;
}

.subscribe-text {
  margin: 0;
  margin-bottom: 54px;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.subscribe-text.index {
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  overflow-wrap: anywhere;
}

.subscribe-input {
  padding: 14px 20px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
  flex-grow: 1;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.subscribe-button {
  padding: 8px 0;
  width: 232px;
  background-color: #82b3d3;
  border: none;
  font-size: 20px;
  border-radius: 0 4px 4px 0;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  box-sizing: border-box;
}

.phone-number {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

.catalog-header {
  padding: 70px;
  padding-top: 35px;
  background-color: rgb(103, 161, 184);
  background-image: url("../images/filter_background.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.catalog-header-title {
  margin: 0;
  margin-bottom: 8px;
  color: #ffffff;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 28px;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  content: "";
  background-image: url("../images/icons/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  width: 7px;
  height: 10px;
  left: 23px;
  top: 6px;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link-home {
  background-image: url("../images/icons/breadcrumbs-home.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 12px;
  min-height: 21px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-title {
  padding: 0;
  margin-bottom: 32px;
  color: #ffffff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 56px;
}

.catalog-filter-button {
  font-family: 'PT Sans';
  display: block;
  padding: 8px 50px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 191px;
  height: 36px;
}

.catalog-filter-button-reset {
  font-family: 'PT Sans';
  display: block;
  background: none;
  border: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  width: 191px;
  height: 36px;
  margin: 0;
  padding: 0;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
  width: 150px;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filter-group {
  width: 150px;
  list-style-type: none;
  border: none;
  margin: 0;
  padding: 0;
}

.filter-infrastructure {
  margin-right: 70px;
}

.filter-hotel-type {
  margin-right: 140px;
}

.filter-price {
  margin-right: 70px;
}

.filter-price-inputs {
  display: flex;
  position: relative;
  margin-bottom: 40px;
  width: 288px;
  gap: 2px;
}

.price-field {
  font-family: 'PT Sans';
  appearance: none;
  background-color: #f2f2f2;
  color: #000000;
  border: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  width: 100%;
  min-width: 0;
  box-sizing: border-box;
  padding: 12px 20px;
}

.price-field-from {
  border-radius: 4px 0 0 4px;
}

.price-field-to {
  border-radius: 0 4px 4px 0;
}

.price-text-from {
  display: block;
  position: absolute;
  left: 106px;
  top: 12px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #808080;
}

.price-text-to {
  display: block;
  position: absolute;
  left: 248px;
  top: 12px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #808080;
}

.price-range-line {
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-handlers-bar {
  display: flex;
  position: relative;
  width: 226px;
  height: 4px;
  background-color: #ffffff;
}

.range-handler {
  position: absolute;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.range-handler-from {
  top: -8px;
}

.range-handler-to {
  top: -8px;
  left: 206px;
}

.control-label {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.control-input-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/checkbox.svg");
  margin: 0;
  cursor: pointer;
}

.control-input-checkbox:checked {
  background-image: url("../images/icons/checkbox-checked.svg");
}

.control-input-radio {
  appearance: none;
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/radio.svg");
  margin: 0;
  cursor: pointer;
}

.control-input-radio:checked {
  background-image: url("../images/icons/radio-checked.svg");
}

.sort {
  display: block;
  height: 48px;
  width: 48px;
}

.sort-grid {
  background-image: url(../images/icons/sort-grid.svg);
}

.sort-description {
  background-image: url(../images/icons/sort-description.svg);
}

.sort-list {
  background-image: url(../images/icons/sort-list.svg);
}

.searched-products {
  padding: 50px 70px;
  padding-bottom: 60px;
}

.searched-control-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.select-control {
  font-family: 'PT Sans';
  background-image: url("../images/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) center;
  appearance: none;
  width: 292px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 14px 20px;
  margin-right: 70px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.searched-settings-list {
  display: flex;
  max-width: 160px;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 8px;
}

.searched-products-title {
  margin: 0;
  margin-right: 200px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.product-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 340px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 4px;
  gap: 16px 20px;
  overflow-wrap: anywhere;
}

.product-card-img {
  object-fit: cover;
}

.product-card-link {
  display: block;
  text-decoration: none;
  color: #000000;
  width: 300px;
  max-width: 300px;
  max-height: 212px;
  grid-column: 1 / -1;
}

.product-card-link:visited {
  color: #000000;
}

.product-card-title {
  margin: 0;
  grid-column: span 2;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.product-card-group {
  margin: 0;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.product-card-price {
  margin: 0;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: right;
}

.show-more {
  display: block;
  background-color: #756157;
  color: #ffffff;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  padding: 8px 26px;
  width: 140px;
  box-sizing: border-box;
}

.to-favourites-button {
  background-color: #82b3d3;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.added-to-fav {
  background-color: #7db54f;
}

.searched-card-rating {
  margin: 0;
  padding: 8px 0;
  background-color: #f2f2f2;
  color: #333333;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
}

.pagination {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  min-width: 60px;
  height: 60px;
  padding: 11px 23px;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
}

.pagination-link.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link.pagination-quewe {
  color: #000000;
  background-color: #f2f2f2;
}

.subscribe.catalog {
  background-color: #ffffff;
  color: #000000;
}

.button-search {
  width: 376px;
  height: 52px;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #756157;
}

.page-footer {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 70px 30px 70px;
  gap: 236px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  max-width: 142px;
}

.social-link {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  width: 47px;
  height: 40px;
}

.social-link-vk {
  background-image: url("../images/icons/vk-icon.svg");
}

.social-link-tg {
  background-image: url("../images/icons/tg-icon.svg");
}

.social-link-youtube {
  background-image: url("../images/icons/youtube-icon.svg");
}
