@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  display: none;
}

html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  font-weight: 400;
  background-color: #f2f2f2;
  margin: 0;
}

.site-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page-header {
  display: flex;
}

.navigation {
  display: flex;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

/* .nav-link-logo {
  position: absolute;
} */

.page-main {
  flex-grow: 1;
}

.index-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #197ad4;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 485px;
}

.index-header-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reasons-intro {
  margin: 0;
  padding: 65px 274px;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.reasons-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.reasons-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.reasons-item {
  display: flex;
  flex-direction: row;
  min-height: 385px;
  width: 400px;
  list-style-type: none;
  background-color: rgba(131, 179, 211, 0.122);
}

.reasons-item-textblock {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 85px;
  height: 100%;
  flex-direction: column;
}

.reasons-item-nowide {
  display: flex;
  flex-direction: column;
}

.reasons-item.reasons-item-contrast {
  background-color: rgba(131, 179, 211, 0.2);
}

.reasons-item.reasons-item-wide {
  background-color: #82b3d3;
  color: #ffffff;
  width: 100%;
}

.reasons-item.reasons-item-wide-revers {
  flex-direction: row-reverse;
  background-color: #82b3d3;
  color: #ffffff;
  width: 100%;
}

.reasons-item.reasons-item-wide p {
  color: #ffffff;
}

.reasons-item.reasons-item-wide-revers p {
  color: #ffffff;
}

.reasons-item-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.reasons-item-text {
  color: #333333;
  text-align: center;
}

.reasons-item-img {
  display: block;
}

.service {
  text-align: center;
}

.service-intro {
  padding: 64px 347px;
}

.service-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.service-text {
  margin: 0;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  min-height: 385px;
  justify-content: center;
  align-items: stretch;
  padding: 0;
}

.service-list li:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.122);
}

.service-list li:nth-child(even) {
  background-color: #ffffff;
}

.service-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;
}

.service-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.service-item-text {
  padding: 0 85px;
  color: #333333;
  text-align: center;
}

.booking {
  padding: 96px 304px;
  text-align: center;
}

.booking-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.booking-text {
  margin: 0;
  margin-bottom: 54px;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
}

.subscribe {
  padding: 96px 258px 104px;
  background-color: #197ad4;
  text-align: center;
}

.subscribe.index {
  background-image: url("../images/subscribe_index.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-title.index {
  color: #ffffff;
}

.subscribe-text {
  margin: 0;
  margin-bottom: 54px;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.subscribe-text.index {
  color: #ffffff;
}

.phone-number {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

.catalog-header {
  padding: 70px;
  padding-top: 35px;
  background-color: rgb(103, 161, 184);
  background-image: url("../images/filter_background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.catalog-header-title {
  margin: 0;
  margin-bottom: 8px;
  color: #ffffff;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-title {
  color: #ffffff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-list {
  list-style-type: none;
}

.catalog-filter-group {
  list-style-type: none;
}

.control-label {
  color: #ffffff;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.searched-products {
  padding: 50px 70px;
  padding-bottom: 60px;
}

.searched-control-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  padding: 14px 20px;
}

.searched-settings-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.searched-products-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.product-item {
  width: 340px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 4px;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.product-card-group {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.product-card-price {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.searched-card-rating {
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.pagination {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 11px 23px;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
}

.pagination-link.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link.pagination-quewe {
  color: #000000;
  background-color: #f2f2f2;
}

.subscribe.catalog {
  background-color: #ffffff;
  color: #000000;
}

.button-search {
  width: 376px;
  height: 52px;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #756157;
}

.page-footer {
  display: flex;
  flex-wrap: wrap;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
}
